# Supabase PostgreSQL Connection Configurations
DB_URL=jdbc:postgresql://aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres
DB_USERNAME=postgres.uetuvfdemxlptcfniwti
DB_PASSWORD=DevCine@123

# JWT Security Configuration
JWT_SECRET=9a4f2c8d3b7a5e1f0c9b8a7d6e5f4c3b2a1e0f9d8c7b6a5e4d3c2b1a0f9e8d7c
JWT_EXPIRATION=604800000  # 7 day in milliseconds
# VNPAY Configuration
VNPAY_TMN_CODE=your_vnpay_tmn_code
VNPAY_HASH_SECRET=your_vnpay_hash_secret
